/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}
 * {
  box-sizing: border-box;
 }

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0px 10px 20px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 20px 0px;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

main section ul {
  margin-bottom: 30px;
}

/* ---  Groups & Items --- */



/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 10px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  text-align: left;
  max-width: 500px;
  box-sizing: border-box;
}

.input-wrapper {
 width:100%;
 text-align: left;
 display: flex;
 justify-content: space-around;
}

form label {
  font-weight: bold;
  margin: 0px 20px 0px 0px;
  display: inline-block;
  width: 80px;
  padding: 10px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 280px; /*was 180px*/
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}




/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

/* -------  Media Query ------- */

@media all and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
  }

  form {
    display: flex;
    border: 2px solid #ff385c;
    padding: 10px;
    text-align: left;
    min-width: 100%;
  }

  .input-wrapper {
    text-align: left;
    display: block;
    margin-right: 5%;
   }
   
   form label {
     font-weight: bold;
     margin: 0px;
   }
   
   form select,
   form input {
     margin-bottom: 20px;
     width: 95%; /*was 180px*/
   }
   
   form button {
     background-color: #ff385c;
     border: none;
     color: #fff;
     font-size: 24px;
     padding: 15px;
     width: 100%;
   }

   .about-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
   }

   .about-wrapper p {
    flex: 2;
   }

   .about-wrapper div {
    flex: 1;
    margin: 10px;
   }

   section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 10px;
  }

  .item {
    width: 48%;
    box-sizing: border-box;
  }



}